body {
  width: 960px;
  margin: 0 auto;
}

div {
  float: left;
  width: 100%;
  clear: both;
}

span {
  display: block;
  width: 12%;
  height: 90px;
  float: left;
  border: 1px solid #000;
}

/** Board **/
.grey {
  background: #eee;
}
.black {
  background: #000;
}

/** Pieces **/
